@media print {
    html {
        overflow: hidden
    }

    .tools,
    .print {
        visibility: hidden
    }

    .pages {
        margin: 0 !important
    }

    #container-wrap,
    #container {
        margin: 0 !important
    }

    #page-nav {
        display: none !important
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}



html {
    overflow-x: visible
}

.pages {
    margin-top: 35px
}

.tools {
    position: fixed;
    top: 5px;
    left: 0;
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1)
}

.tools .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 28px;
    width: 100%;
    padding: 0 0;
    transition: all 0.4s ease
}

.tools .sidebar .sidebar-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
}

.tools svg {
    position: initial
}

.tools .lists {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(19, 16, 16, 0.515);
    border-radius: 6px;
    padding: 0 4px
}

.tools .sidebar-content .list {
    list-style: none;
    cursor: pointer
}

.tools .list .nav-link {
    display: flex;
    align-items: center;
    margin: 1px 3px;
    padding: 0 0;
    border-radius: 4px;
    text-decoration: none;
    z-index: 3
}

.tools .lists .nav-link:hover {
    background-color: #fff;
    box-shadow: 0 0 5px 0.5px rgba(0, 0, 0, 0.3)
}

.tools .nav-link img {
    max-width: 35px
}

.tools .lists .nav-link:hover .icon,
.tools .lists .nav-link:hover .link {
    color: #707070
}

.active {
    background-color: #fff !important;
    box-shadow: 0 0 5px 0.5px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.checkbox {
    display: none;
    position: absolute;
    top: 0;
    z-index: 49;
    width: 25px;
    height: 50px;
    cursor: pointer;
    margin: 0 8px
}

#bookmark {
    position: fixed;
    top: 0;
    left: 0
}

#showbookmark {
    position: fixed;
    top: 70px;
    left: 0
}

.bookmarks-div,
.currentPageDiv {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    min-height: 100vh;
    z-index: 50;
    display: none
}

.currentPageDiv {
    display: block;
    width: 100%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.9);
    right: 50%;
    transform: translateX(50%);
    height: 0;
    min-height: initial;
    max-height: 150px;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: height 0.3s ease-in-out
}

.parent-div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.3rem
}

.a {
    width: 100%;
    height: 20%
}

.b {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: right;
    position: relative
}

.txt {
    margin-top: 10px !important
}

.custom {
    width: 50%;
    margin-top: 20px;
    left: auto;
    position: absolute;
    left: 5px;
    bottom: 5px;
    box-shadow: none !important
}

.height {
    height: 100%
}

.inner-bookmark-div {
    display: flex;
    flex-direction: column
}

i {
    position: fixed;
    width: 300px;
    height: 300px
}



p {
    position: relative;
    z-index: 2
}

.c {
    height: 100%;
    width: 100%;
    background-color: aliceblue;
    z-index: 22
}

textarea {
    padding: 10px;
    width: 100%;
    margin: 2px;
    resize: none;
    border-radius: 5px;
    min-height: 100%;
    border: 1px solid rgba(19, 16, 16, 0.315)
}

button {
    cursor: pointer
}

#comment-block {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    gap: 5px;
    justify-content: flex-end;
    z-index: 20
}

.inner-comment {
    padding: 5px;
    display: flex;
    margin: 2px;
    width: 100%;
    height: 20%;
    max-height: 120px;
    flex-direction: column;
    color: black;
    direction: rtl;
    box-shadow: 0px 0px 2px 0px rgba(73, 55, 55, 0.363);
    gap: 10px;
    transition: right 3s ease
}

.comment-btns-div {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center
}

.comment-btns-div button {
    width: 50%;
    margin-left: 2px;
    border: 0px;
    border-radius: 2px;
    padding: 10px;
    box-shadow: 0px 0px 2px 0px black
}

#save:hover {
    background-color: #72c2ba;
    color: white
}

#delete-comment:hover {
    background-color: #f0be81;
    color: white
}

.cursor {
    cursor: url("../png/comment-cursor.png"), auto
}



.btn-close {
    box-shadow: none !important
}

.edit-tools {
    position: absolute;
    top: 0;
    left: -100%;
    transform: scale(0);
    transition: transform 0.3s ease-in-out
}

.comment {
    width: 20px;
    height: 20px;
    background: url("../png/comment.png");
    background-size: contain;
    z-index: 4;
    cursor: pointer
}

.comment-div-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 280px;
    background-color: rgb(253, 252, 251);
    padding: 5px;
    box-shadow: 0px 0px 6px 0px black;
    transition: right 0.3s ease
}

.bookmark-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 8px;
    top: 0;
    z-index: 10
}

.index-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 8px;
    top: 0;
    z-index: 10;
    flex-direction: row;
}

.show {
    display: block
}

.inner-bookmark-div {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: flex-start;
    align-items: center
}

.inner-bookmark-div .modal-dialog {
    max-width: 100%;
    min-width: 70%;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 0 !important;
    height: 100%
}

.inner-bookmark-div .modal-content {
    max-width: 100% !important;
    min-width: 90% !important;
    border: none
}

.inner-bookmark-div .modal-body {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    /* margin-top: 10px */
}

.inner-bookmark-div .modal-header .btn-close {
    margin: -0.5rem -0.5rem -0.5rem 0
}

.index .btn-close {
    box-shadow: none !important;
    margin: -0.5rem -0.5rem -0.5rem 0.5rem
}

.parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    direction: rtl
}

.parent svg {
    position: initial
}

.parent svg:hover {
    color: rgb(23, 113, 129);
    cursor: pointer
}

::selection {
    background-color: #b9b9b9
}

.index {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    z-index: 20
}

.hide-index {
    display: none
}

.index .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 0;
    background: #fff;
    z-index: 5
}

.index .logo .logo-name {
    color: #43ada5;
    font-size: 25px;
    font-weight: 700;
    z-index: 2
}

.logo {
    position: absolute;
    top: 0;
    right: 8px
}

.num {
    padding-left: 5.5%;
    padding-right: 1%
}

.logo .menu-icon {
    color: #333;
    font-size: 24px;
    cursor: pointer
}

.index .sidebar {
    position: absolute;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    max-width: 280px;
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
    transition: all 0.3s ease
}

.open {
    display: flex
}

.open .sidebar {
    right: 0
}

.index .sidebar .sidebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 5px
}

.index .sidebar-content .list {
    list-style: none;
    z-index: 3;
    text-align: right;
    display: flex;
    align-items: center;
    transition: all 5s ease-in-out
}

.index .list .nav-link {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 14px 12px;
    border-radius: 8px;
    text-decoration: none
}

.index .lists .nav-link:hover {
    background-color: #4070f4
}

.index .nav-link .icon {
    margin-right: 14px;
    font-size: 20px;
    color: #707070
}

.index .nav-link .link {
    font-size: 16px;
    color: #707070;
    font-weight: 400
}

.accordion-body ul {
    padding-left: 1rem !important
}

.index .lists .nav-link:hover .icon,
.index .lists .nav-link:hover .link {
    color: #fff
}

.accordion {
    overflow-y: auto;
    border-radius: 5px;
    overflow-x: hidden
}

.acc-header {
    background-color: rgba(68, 173, 165, 0.9);
    color: #fff;
    font-family: "GE Dinar One", sans-serif
}

.accordion-item {
    direction: rtl;
    border: none;
    border-top: 0.5px solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 0 !important;
    transition: all 0.3s ease-in-out
}

.acc-row {
    display: grid;
    grid-template-columns: 9% 91%
}

/* .accordion-item:nth-last-of-type(6) .accordion-button {
    background-color: #72e7d0a3!important
}

.accordion-item:nth-last-of-type(6) .accordion-body {
    background-color: #a276cea3
}


.accordion-item:nth-last-of-type(5) .accordion-button {
    background-color: #9fcd62a8!important
}

.accordion-item:nth-last-of-type(5) .accordion-body {
    background-color: #9fcd62a8
}
.accordion-item:nth-last-of-type(4) .accordion-button {
    background-color: #4bb0ea8b!important
}

.accordion-item:nth-last-of-type(4) .accordion-body {
    background-color: #4bb0ea8b
}

.accordion-item:nth-last-of-type(3) .accordion-button {
    background-color: #e0692f8b!important
}

.accordion-item:nth-last-of-type(3) .accordion-body {
    background-color: #e0692f8b
}

.accordion-item:nth-last-of-type(2) .accordion-button {
    background-color: #b8912f8b!important
}

.accordion-item:nth-last-of-type(2) .accordion-body {
    background-color: #b8912f8b
} */


.accordion-button {
    padding: 1rem 0.2rem;
    background-color: transparent;
    /* border-radius: 11px */
    /* text-align: right */
}

.accordion-button:focus,
.accordion-button:not(.collapsed) {
    border-color: transparent !important;
    background-color: transparent !important;
    border: none !important;
    outline: 0 !important;
    box-shadow: none !important
}

.accordion-item span {
    /* margin: 0 8px; */
    color: #30B29F;
    line-height: 1.2rem;
    cursor: pointer;
    font-family: jfbold;
    /* white-space: nowrap; */
    font-size: 10px;
    font-weight: bold;
    TEXT-ALIGN: RIGHT;
    DIRECTION: RTL;
}

.accordion-button::after {
    margin-left: 0 !important;
    margin-right: auto !important
}

.arrow::after {
    display: none
}

.resp {
    padding: 2px 4px
}

.modal-img {
    margin: 0 auto;
    width: fit-content;
    transform: scale(2.3)
}



/* ******************** Draw Tools Start ******************* */




/* ******************** Draw Tools End ******************* */

@media only screen and (max-width: 991.5px) {
    .acc-row {
        display: grid;
        grid-template-columns: 12% 88%
    }
}

@media only screen and (max-width: 768.5px) {
    .acc-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr)
    }

    nav .list .link {
        display: none
    }

    .tools .nav-link img {
        max-width: 33px
    }

    .inner-bookmark-div .modal-dialog {
        min-width: 90%;
        height: calc(100% - 6rem) !important
    }

    .modal-img {
        transform: scale(2.1)
    }

    .offcanvas-header {
        padding: 1rem 0.5rem !important
    }

    .offcanvas {
        max-width: 75% !important
    }

    .offcanvas-top {
        height: 35vh !important
    }

    .num {
        padding-left: 3%;
    }
}

@media only screen and (max-width: 450px) {
    #drawtools {
        width: 80%;
    }
}

@media only screen and (max-width: 340px) {
    .tools .nav-link img {
        max-width: 30px
    }

    .logo {
        right: 1px
    }

    .bookmark-btn {
        left: 1px
    }

    .modal-img {
        transform: scale(1.9)
    }

    .offcanvas-header {
        padding: 1rem 0.2rem !important
    }

    .offcanvas-header .btn-close {
        padding: 0 !important
    }

    .offcanvas {
        max-width: 90% !important
    }

    .accordion-body ul {
        padding-left: 0.1rem !important
    }
}

#viewer-options-bar {
    display: none
}

#remove-hl {
    display: none;
    max-width: 25px
}

.close {
    color: #fff !important;
    opacity: 1 !important;
    filter: invert(100%)
}

.ineractive {
    margin: 12px 0
}

.ineractive-icons {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.ineractive-icons li {
    padding: 2px 0
}

.ineractive-icons li:nth-of-type(1):hover,
.ineractive-icons li:nth-of-type(2):hover,
.ineractive-icons li:nth-of-type(3):hover {
    background-color: #fff;
    box-shadow: 0 0 5px 0.5px rgba(227, 164, 5, 0.794);
    border-radius: 5px
}

.ineractive-icons img {
    max-width: 75px
}

.offcanvas {
    direction: rtl;
    max-width: 50%;
    margin: 0 auto;
    overflow-y: scroll
}

.offcanvas-body {
    padding: 0
}

.search-elements {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 3px
}

.search-elements .search-list {
    width: 90%;
    margin: 0 auto;
    padding: 12px 5px;
    word-wrap: break-word;
    cursor: pointer
}

.search-elements .search-list:hover {
    background-color: #e7e7e7
}

.search-elements .search-list:last-child {
    border: none
}

#search {
    width: 100%;
    padding: 1% 0;
    border: none;
    border-bottom: 1px solid #b7b7b7;
    transition: all 0.3s ease-in-out;
    font-size: 16px
}

#search:focus,
#search:valid {
    border-bottom: 2px solid rgb(68, 173, 165)
}

.search-hl {
    color: red !important
}

.index-body {
    width: 100%;
    height: 100vh;
    background-color: #4070f4;
    z-index: 10;
    display: block
}

p {
    margin-bottom: 0 !important;
}

img {
    mix-blend-mode: normal !important
}

#table113181 td,
#table114286 td {
    padding: 7.5px !important;
}

.td-li-p td {
    padding: 6px !important;
}

ul,
ol {
    padding-left: initial !important;
}

.w {
    width: 30px;
    margin-top: 20px !important;
}

.r {
    right: 0 !important;
    left: initial !important;
}

.m {
    margin: 0 12px;
}

.df {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
}

.l1,
.l1 li {
    letter-spacing: .1px;
}

.pl li {
    padding-left: 30px !important;
}

.pl0 li {
    padding-left: 0 !important;
}

br {
    z-index: -1;
}

.pl-s li {
    padding-left: 21px !important;
}

.ltr,
.ltr li {
    direction: ltr !important;
}

.rtl,
.rtl li {
    direction: rtl !important;
}

.mt li {
    margin-top: 6px !important;
}

.mt4 li {
    margin-top: 4px !important;
}

.mt0 li:first-child {
    margin-top: 0 !important;
}

.mt7 li {
    margin-top: 7px !important;
}

.mb-0 li {
    margin-bottom: 0 !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lh-12 li {
    line-height: 12px !important;
}

.lh-14 li,
.lh-14 {
    line-height: 14px !important;
}

.right {
    text-align-last: right !important;
}

.left {
    text-align-last: left !important;
}

.mt32 {
    margin-top: 32px !important;
}

.empty-box {
    max-width: 338px;
    left: initial !important;
    right: 0 !important;
}

.pr23 li {
    padding-right: 23px !important;
}


#article1
{
    /* width:90px;
    margin-left:10px;
    margin-top: 10px;
    top: 5px; */
    width:92px;
    position: absolute;
    top: 40px;
    left: -1px;

}

/* 
.accordion-button::after {
    background-image: initial;
  }
  
  .accordion-button:not(.collapsed)::after {
    background-image: initial;
  } */

  .orange
  {
    color:#FAB62C !important ;
  }

  .purble
  {
    color:#69619E  !important ;
    margin: 0 2px;
  }

  .green
  {
    color:#30B29F  !important;
    /* font-family: acumin !important; */

    font-size: 11px;

  }

  .accoitem{
    background-color: transparent;
    border-top: none;
    border-bottom:solid 2.5px #E2E1E6;
    opacity: 80%;


  }

  .accordion-body span:hover{
    border: 1px solid #038271;
    color: white !important;
    background: #039683;
    padding: 3px;
    border-radius: 4px;
  }

 div.accoitem:hover
  {
    background-color: #E9B74490;
    /* opacity: 20%; */
    border-bottom: solid 5px #463E67;
    border-radius: 8px !important;

}

@font-face {
    font-family: jfbold;
    src: url(../webfonts/jfbold.ttf);
}

@font-face {
    font-family: acumin;
    src: url(../webfonts/Acumin-Variable-Concept.ttf);
}



.move
{
    transform: translate(250px, 0px) !important;
    transition: 0.5s !important;
        transform: rotate(0deg) translate(-50%,0%) !important;
}



.zoom-in-out-box{

    animation: zoom-in-zoom-out 1.5s ease infinite;
    cursor: pointer;

  }
  
  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(0.5, 0.5);
    }
    100% {
      transform: scale(1, 1);
    }
  }


  .bordercolored{

    animation: coloring 2.5s ease infinite;
    cursor: pointer;
  }

  @keyframes coloring {
    0% {
        background-color:rgba(162, 206, 237, 0);
      }
      50% {
        background-color:#f0be8173;
      }
      100% {
        background-color:rgba(162, 206, 237, 0);
      }
 
  }


  #preloader
  {
    width: 100vw;
    height: 100%;
    background: #ffffff url(../../preloader.gif);
    background-repeat: no-repeat;
    background-position: center;
background-size: 20%;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;

  }



